body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('image/URL-Shorteners.jpg'); /* Replace 'background.jpg' with your background image */
    background-size: cover;
    background-position: center;
}
#shortenedURL{
 display: none;
}
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 35%;
    background: #F1F8E9;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #127035; /* Red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #055121; /* Darker red on hover */
}

#shortenedURL {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    border-radius: 5px;
    font-size: 16px;
}

#shortenedURL div {
    margin-bottom: 10px;
}

#shortenedURL button {
    margin-left: 5px;
}
